/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-12-2015, 13:48:26
    Author     : amer
*/
/* line 19, ../sass/latto.subtheme.base.scss */
#xact_popinButtons button {
  border: 2px outset buttonface;
  padding: 1px 6px;
  cursor: pointer;
}

/* line 25, ../sass/latto.subtheme.base.scss */
#xact_popText label {
  display: inline;
}
#xact_popCheck
{
    padding-top: 3px;
}